#start {
    font-family: Arial, Helvetica, sans-serif;
}

#menu {
    font-family: Arial, Helvetica, sans-serif;
}

button {
	background-color:#44c767;
	border-radius:19px;
	border:4px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:15px;
	padding:9px 21px;
	text-decoration:none;
	text-shadow:0px 1px 18px #2f6627;
}
button:hover {
	background-color:#41b304;
}
button:active {
	position:relative;
	top:1px;
}

body{
    background:url(
data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAlElEQVQoU2PMXJj9vyiukAEE/FcGMUSqhzFEGESA+bkpuQyMt//f+d+3qJ/hIPthho3h68ASKy6sYDg65SjD5DmTIQpAOu1/2jLATALptM6xBpvEqLVC7z9MJ8ik+4fugXXCTGJsPt/yH9lORTsluEkgk8FWINsJ0onsJrACZDthvoG5idEj2fM/sp3Lb66C+wZkEgCQj1oYlcVsQAAAAABJRU5ErkJggg==
   ) repeat;
}

.center {
    margin: auto;
    width: 50%;
    border: 3px solid #2f6627;
    border-radius: 19px;
    padding: 10px;
    background: #e0ffd8;
  }